nav{
    display: flex;
    justify-content: space-around;
    margin: 2rem 20vw;
    cursor: pointer;
}

body{
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}

body p{
    line-height: 1.5rem;
    font-weight: 300;
}

#nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
#logo {
    font-size: 1.5rem ;
    margin-bottom: -.1rem !important;
}


#nav-menu a {
    margin: 0 1.5rem;
    font-weight: 300;
    color: white;
    text-decoration: none;

}

#glink{
    margin-bottom: -1rem;
}


#link{
    font-size: 1.5rem;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero h1{
    margin-top: 6rem;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 0;
}
#hero h2{
    margin-top: 0rem;
    font-size: 2.5rem;
    font-weight: 300;
}

#headshot {
    margin-top: 3rem;
    border-radius: 10px;
    width: 230px;
    border: .15rem solid white;
    padding: .15rem;
}

#hero h3{
    margin-top: 6rem;
    margin-bottom: .7rem;
}

#bio{
    width: 46rem;
    text-align: center;
}

#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 46rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

#about h1 {
    align-self: flex-start;
    font-weight: 400;
}
#about p {
    margin-top: .5rem;
    align-self: flex-start;
}

#experience-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 46rem;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
}

#experience-container h1 {
    padding-bottom: 1rem;
    margin-bottom: 0;
    align-self: flex-start;
    font-weight: 400;


}
#experience-container p {
    margin-top: .5rem;
    align-self: flex-start;
    font-weight: 400;
}

#experience-container .experience{
    width: 46rem;
    padding-left: 1rem;
    margin-bottom: 0rem;
    font-weight: 300;
}
.experience h2,h4 {
    font-weight: 400;
}

#experience-container #list{
    border-radius: 10px;
    border-left: solid 5px grey;
    margin-bottom: 5rem;

}

hr {
    border-radius: 100%;
    width: 46rem;
}


